body {
	background-color: #242424;
	color: #f6f3e8;
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: 14px;
	margin-top:20px;
}
h1 {
	font-size: 14px;
	font-weight: normal;
}
.hide {
	display: none;
}
.ok, .ko {
	height:30px;display:visible;
}
.ok {
	background-color: #95e454;
}
.ko {
	background-color: #f08080;
}